#skips all files
*
#apart from needed files
#github
!.gitignore
!README.md

#source code
!src
!src/minecraft
!src/minecraft/cazzar
!src/minecraft/cazzar/*
!src/minecraft/cazzar/*/*
!src/minecraft/cazzar/*/*/*
!src/minecraft/cazzar/*/*/*/*
!src/minecraft/cazzar/*/*/*/*/*
!src/minecraft/cazzar/*/*/*/*/*/*
!src/minecraft/cazzar/*/*/*/*/*/*/*
!src/minecraft/cazzar/*/*/*/*/*/*/*/*
!src/minecraft/cazzar/*/*/*/*/*/*/*/*/*
!src/minecraft/cazzar/*/*/*/*/*/*/*/*/*/*